.toolbar {
    position: fixed;
    width: 100%;
    background: black;
    height: 50px;
    top: 50px;
    left: 0;
    border-bottom: 1px solid #c8ced3;
}

.toolbar-navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}
.toolbar-navigation-items{
    color: #73818f;
    text-decoration: none;
}
.toolbar-navigation-items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar-navigation-items li{
    padding: 0 1rem;
    text-decoration: none;
}

.toolbar-navigation-items a{
    text-decoration: none;
    color: #73818f;
}

.toolbar-navigation-items a:hover,
.toolbar-navigation-items a:active{
    color: black;
}

.toolbar-logo a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}
.toolbar-logo{
    margin-left: 0.5rem;
}
.spacer{
    /*flex: 1;*/
    width: 10%;
}
.typehead-styles{
    width: 800px;
    position: absolute;
    z-index: 1000;
}
@media (max-width: 768px) {
    .toolbar-navigation-items{
        display: none;
    }
    
}

@media (min-width: 769px) {
    .toolbar-toggle-button{
        display: none;
    }
    .toolbar-logo{
        margin-left: 0;
    }
}
