.dropdownitem{
    color: blue;
}

.dropdownitem:hover .dropdownitem{
    text-decoration: none;
}

.dropdown{
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-content{
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    width: 96%;
    height: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 49px;
    left: 2%;
}

.items-ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.items-li{
    padding: 10px;
    margin: 0.5rem 0;
}

.item-a{

}

.dropdown:hover .dropdownitem{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.items-ul:hover .item-a{
    text-decoration: none;
}

.dropdown:hover .dropdown-content{display: block;}
.dropdown:hover .dropdownitem{background-color: white;}
