.menubar {
    position: fixed;
    width: 100%;
    background: black;
    height: 50px;
    top: 0;
    left: 0;
    border-bottom: 1px solid #c8ced3;
    border-top: 1px solid #c8ced3;
    z-index: 0;
}
/*.toolbar-toggle-button{*/
/*    display:blo*/
/*}*/

.toolbar-logo a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}
.toolbar-logo{
    margin-left: 0.5rem;
}

.menubar-navigation {
    /*display: flex;*/
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}
.menubar-navigation-items{
    color: #73818f;
    text-decoration: none;
    margin: 0 auto;
    display: flex;
}
.menubar-navigation-items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menubar-navigation-items li{
    padding: 0 1rem;
    text-decoration: none;
}

.menubar-navigation-items a{
    text-decoration: none;
    color: #73818f;
}

.icons-right{
    display: flex;
    margin: 0 auto;
}
.right-icon-div{
position: absolute;
    right: 0;
    top: 0;
}

.spacer{
    /*flex: 1;*/
    width: 10%;
}

.menubar-navigation-items a:hover,
.menubar-navigation-items a:active{
    color: black;
}

@media (max-width: 768px) {
    .menubar-navigation-items{
        display: none;
    }

}

@media (min-width: 769px) {
    .toolbar-toggle-button{
        display: none;
    }
    .toolbar-logo{
        margin-left: 0;
    }
}

/*@media (max-width: 768px) {*/
/*    .menubar{*/
/*        display: none;*/
/*    }*/

/*}*/
